<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<h2>Make Changes</h2>
<p></p>
<button type="button" class="collapsible">Add</button>
<div class="content">
    <p><a href="/nemployee.html">Add New Employee</a></p>
     <a href="/nshift.html">Add New Shift</a>
</div>
<button type="button" class="collapsible">Modify</button>
<div class="content">
 <p><a href="/uemployee.html">Modify Employee Personal Details</a></p>
     <p><a href="/usalary.html">Modify Employee Salary</a></p>
    <a href="/ushift.html">Modify Shift</a>
</div>
<button type="button" class="collapsible">Delete</button>
<div class="content">
  <p><a href="/remployee.html">Remove Employee</a></p>
     <a href="/rshift.html">Delete Shift</a>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
</body>
</html>

