<!DOCTYPE html>
<html><head>
	<title>
	Hospital Directory
	</title>
</head>

<body bgcolor="#ffffff" data-new-gr-c-s-loaded="9.29.0">
	<base href="/">
	<div class="header header2">
		<table border="0" cellspacing="0" summary="This table is used to format page content" cellpadding="0" width="100%">
			</table>
	</div>


		<font face="Trebuchet, Verdana, Arial" size="2"><b>Search the Hospital Directory</b>



	<hr>
	</font><center><font face="Trebuchet, Verdana, Arial" size="2"><a href="/">Browse Hospital Directory</a> | <a href="/changes.html">Make Changes</a></font>
	</center>
	<hr>
	<form method="POST" action="/submitne">



		<br>

		<br><b><tt>Last name..: </tt></b>
		</select> <input name="LastName" size="30" maxlength="30">

		<br><b><tt>First name.: </tt></b>
		</select> <input name="FirstName" maxlength="20">

        <br><b><tt>Gender..: </tt></b>
		</select> <input name="Gender" size="30" maxlength="50">


        <br><b><tt>Middle Name..: </tt></b>
		</select> <input name="middle" size="30" maxlength="50">

		<br><b><tt>Facility..: </tt></b>
		</select> <input name="Department" size="30" maxlength="50">

        <br><b><tt>Tenure Time..: </tt></b>
		</select> <input name="tenure" size="30" maxlength="50">

         <br><b><tt>Patient..: </tt></b>
		</select> <input name="patient" size="30" maxlength="50">

		<br><b><tt>Job Title...: </tt></b>
		</select> <input name="JobTitle" size="50" maxlength="50">



        <br><b><tt>Salary...: </tt></b>
		</select> <input name="salary" size="50" maxlength="50">
		<p>
		<p>
			</p><p>

				<input type="submit" value="Submit">

				<input type="reset" value="Clear Form">

	</form>



</body></html>