<!DOCTYPE html>
<html><head>
	<title>
	Hospital Directory
	</title>
</head>

<body bgcolor="#ffffff" data-new-gr-c-s-loaded="9.29.0">
	<base href="/">
	<div class="header header2">
		<table border="0" cellspacing="0" summary="This table is used to format page content" cellpadding="0" width="100%">
			</table>
	</div>


		<font face="Trebuchet, Verdana, Arial" size="2"><b>Search the Hospital Directory</b>



	<hr>
	</font><center><font face="Trebuchet, Verdana, Arial" size="2"><a href="/">Browse Hospital Directory</a> | <a href="/changes.html">Make Changes</a></font>
	</center>
	<hr>
	<form method="POST" action="/submitus">



		<br>
        <font face="Trebuchet, Verdana, Arial" size="2"></font><b>Enter Staff ID then enter new salary</b>
        <br><b><tt>Staff id..: </tt></b>
		</select> <input name="sid" size="30" maxlength="30">
		<br><b><tt>New Salary..: </tt></b>
		</select> <input name="salary" size="30" maxlength="30">
		<p>
			</p><p>

				<input type="submit" value="Submit">

				<input type="reset" value="Clear Form">

	</form>



</body></html>